<app-common-modal-template
  [headerPictureName]="pictureName"
  [headerTitle]="title"
  [buttonText]="buttonText"
  [cancelButtonText]="cancelButtonText"
  [subtitle]="subtitle"
  (buttonAction)="onActionButtonClick()"
  (closeModal)="onCloseModal()"
  (cancelButtonAction)="onCloseModal()"
>
  <div class="modal__content">
    <section class="modal__content-item">
      <p class="remove-participant-text">
        Are you sure you want to remove this participant from the room? Their
        data will be deleted and they will lose access to the room.
      </p>
    </section>
  </div>
</app-common-modal-template>
